@page
@using RazorCore.Models
@model RazorCore.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Cateogry</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (Product p in Model.products)
            {

                <tr class="col-12  text-black">
                    <td>
                        @p.Id
                       
                        <a asp-page="ProductInCat/index" asp-route-id="@p.CategoryId"> @(p.Category?.Name ?? "Not found")</a>
                    </td>
                    <td>
                        @p.Name
                    </td>
                    <td>
                        @p.Price
                    </td>
                    <td>
                        @p.CategoryId
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>